{% extends 'base.html' %}

{% block 'title' %}Home{% endblock %}


{% block 'content' %}
<section id="section-home">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
           <h5 class="card-title">Playstation 4</h5>
           <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="static/img/PlayStation-4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Playstation 4</h5>
            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">R$ 1.400,99</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <button class="btn-block">Comprar</button>
            <button class="btn-block">Ver anuncio</button>
        </div>
    </div>
</section>
{% endblock %}
