<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">

    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>

    <!--Navbar-->
    <nav>
        <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-landmark"></i></a>

        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="#">{{user}}</a>
            </li>
            <li>
                <a href="{% url 'profile' %}">Meu cadastro</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Sair</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    Entrar
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}">
                    Cadastrar
                </a>
            </li>
            {% endif %}

        </ul>
        {% if messages %}
            {% for message in messages %}
            <div class="messages {{message.tags}}">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
    </nav>
    <!--End Navbar-->

    <!--Content-->
    <div class="site-content">
        {% block 'content' %}

        {% endblock %}
    </div>
    <!--End content-->


    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#id_postal_code').mask('00000-000');
        });

        $(() => {
          $('#id_postal_code').on('input', function() {
            if($(this).val().length == 9) $('form').submit()
          })
        })

        $().ready(function() {
            setTimeout(function () {
                $('.messages').hide();
            }, 2500);
        });
    </script>

    35169749
    <!--Footer-->
    <div class="footer-container">
        <footer>
            <div class="content-footer">
                <p>Developer: Gleison torres</p>
                <br>
                <p>Github: <a href="https://github.com/Gleison-Torres" TARGET="_blank">Gleison-Torres</a></p>
                <br>
                <a href="https://www.linkedin.com/in/gleison-de-torres-loiola-a782051a2/" target="_blank">LinkedIn</a>
            </div>
        </footer>
    </div>
    <!--End footer-->
</body>
</html>