<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}">

    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>

    <!--Navbar-->
    <nav>
        <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-landmark"></i></a>

        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="#">{{user}}</a>
            </li>
            <li>
                <a href="{% url 'profile' %}">Meu cadastro</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Sair</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    Entrar
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}">
                    Cadastrar
                </a>
            </li>
            {% endif %}

        </ul>
        {% if messages %}
            {% for message in messages %}
            <div class="messages {{message.tags}}">
                <span>{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
    </nav>
    <!--End Navbar-->

    <!--Content-->
    <div class="site-content">
        {% block 'content' %}

        {% endblock %}
    </div>
    <!--End content-->


    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <script>
        $().ready(function() {
            setTimeout(function () {
                $('.messages').hide();
            }, 2500);
        });
        $(document).ready(function(){
            $('#id_postal_code').mask('00000-000');
        });

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#id_street_address").val("");
                $("#id_neighborhood").val("");
                $("#id_city").val("");
                $("#id_state").val("");
            }

            //Quando o campo cep perde o foco.
            $("#id_postal_code").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#id_street_address").val("...");
                        $("#id_neighborhood").val("...");
                        $("#id_city").val("...");
                        $("#id_state").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#id_street_address").val(dados.logradouro);
                                $("#id_neighborhood").val(dados.bairro);
                                $("#id_city").val(dados.localidade);
                                $("#id_state").val(dados.uf);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });
    </script>


    <!--Footer-->
    <div class="footer-container">
        <footer>
            <div class="content-footer">
                <p>Developer: Gleison torres</p>
                <br>
                <p>Github: <a href="https://github.com/Gleison-Torres" TARGET="_blank">Gleison-Torres</a></p>
                <br>
                <a href="https://www.linkedin.com/in/gleison-de-torres-loiola-a782051a2/" target="_blank">LinkedIn</a>
            </div>
        </footer>
    </div>
    <!--End footer-->
</body>
</html>