/* Reset */
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }


/* Mensagens */

    .message-success {
        top: 68px;
        width:100%;
        z-index:1;
        position: absolute;
        text-align: center;
        background-color: hsl(120, 94%, 65%, 0.7);
        color: black;
        padding: 20px;
        font-weight: bold;
        display: block;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);

    }

    .message-error {
        z-index:1;
        top: 68px;
        width:100%;
        position: absolute;
        text-align: center;
        background-color:rgb(255, 26, 26, 0.7);
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        color: #fff;
        padding: 20px;
        font-weight: bold;
    }

    .message-info {
        z-index:1;
        top: 68px;
        position: absolute;
        width:100%;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        text-align: center;
        background-color: rgb(31, 31, 245, 0.8);
        color: #fff;
        padding: 20px;
        font-weight: bold;
    }

/* Formulário de cadastro */
/* Register */
    .section-register {
        background-color: aliceblue;
        padding-bottom: 110px;
        padding-top: 130px;
        text-align: left;
    }

    .section-register form {
        width: 1120px;
        border-radius: 30px;
        background-color: rgb(230, 236, 241);
        margin: 0 auto;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        padding-top: 50px;
        padding-left: 80px;
    }


    .section-register input {
        display: block;
        border-radius: 10px;
        height:38px;
        padding-left: 15px;
        margin-top:10px;
    }

    .form-group {
        display: flex;
        padding: 0px 20px 0px 20px;
    }


    .form-group-col1, .form-group-col2 {
        width: 50%;
    }

    .form-group input {
        padding-left: 20px;
        margin-left: 20px;
        width:80%;
        height:35px;
        border-radius:10px;

    }

    .helptext-container {
        padding-left: 25px;
        margin-top: 50px;
    }


    /*Button register*/
    .btn-register-container {
        padding-bottom: 90px;
        padding-top: 20px;
        text-align: center;
        width: 90%;
        margin-top: 30px;
    }


    .btn-register-container button {
        padding: 5px;
        width: 120px;
        border-radius: 10px;
    }

    .error-messages {
        color: red;
        list-style-type:georgian;
    }


    /*Mobile*/
    @media (min-width: 280px) and (max-width: 374px){
        .section-register form {
            width: 100%;
            height: 172vh;
            border-radius: 30px;
            background-color: aliceblue;
            box-shadow: none;
            padding-left: 10px;
            padding-top: 5px;
        }

        .section-register input {
            border-radius: 10px;
            width: 220px;
        }

        .form-group {
            display: block;
        }

         .form-group input {
            margin-left: 0px;
            width: 200%;
        }

        .form-group-col2 {
            padding-top: 15px;
        }

        .helptext-container {
            margin-top: 50px;
            margin-right: 20px;
        }

        .error-messages {
            color: red;
            list-style-type:georgian;
            width:230px;
        }
    }


    @media (min-width: 375px) and (max-width: 911px){
        .section-register form {
            width: 100%;
            height: 161vh;
            border-radius: 30px;
            background-color: aliceblue;
            box-shadow: none;
            padding-left: 10px;
            padding-top: 5px;
        }

        .section-register input {
            border-radius: 10px;
            width: 320px;
        }

        .form-group {
            display: block;
        }

        .form-group input {
            margin-left: 0px;
            width:200%;
        }
        .form-group-col2 {
            padding-top: 15px;
        }

        .helptext-container {
            margin-top: 50px;
            margin-right: 20px;
        }

        .error-messages {
            color: red;
            list-style-type:georgian;
            width:330px;
        }
    }

    @media (min-width: 912px) and (max-width: 1023px){
        .section-register form {
            width: 100%;
            height: 75vh;
            border-radius: 30px;
            background-color: aliceblue;
            box-shadow: none;
            padding-left: 10px;
            padding-top: 5px;
        }

        .section-register input {
            border-radius: 10px;
            width: 320px;
        }

        .form-group {
            display: ;
        }

        .form-group-col2 {
            padding-top: 15px;
        }

        .helptext-container {
            margin-top: 50px;
            margin-right: 20px;
        }
    }

    @media (min-width: 1024px) and (max-width: 1279px) {
        .section-register form {
            width: 100%;
            height: 105vh;
            border-radius: 30px;
            background-color: aliceblue;
            box-shadow: none;
            padding-left: 10px;
            padding-top: 5px;
        }
    }

/* Formulário de login*/

/* Login */
    .section-login {
        background-color: aliceblue;
        padding-bottom: 110px;
        padding-top: 130px;
    }


    .login-container {
        width: 400px;
        border-radius: 30px;
        background-color: rgb(230, 236, 241);
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93)

    }


    /* Input login */
    .input-login {
        width: 100%;
        height: 160px;
        padding-top: 88px;
        border-radius: 20px 20px 0 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .input-login label {
        display: block;
    }

    .input-login input {
        width: 65%;
        height: 38px;
        border-radius: 10px;
        padding-left: 20px;
    }

    /*End input login*/

    /* Input Password */
    .input-password {
        width: 100%;
        height: 110px;
        padding-top: 13px;
        position: relative;
    }

    .input-password input {
        width: 65%;
        height: 38px;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 65px;
    }

    .input-password i {
        font-size: 30px;
        position: absolute;
        right: 89px;
        top:49px;
        cursor: pointer;
        color: rgb(153, 174, 197);
    }

    .input-password label {
        display: block;
    }

    .input-password a {
        display: block;
        width: 180px;
        padding-top: 10px;
        position: relative;
        left: 107px;
    }

    .btn-send {
        padding-bottom: 30px;
        padding-top: 20px;
        padding-bottom:70px;
    }

    .btn-send button {
        padding: 5px;
        width: 120px;
        border-radius: 10px;
    }

    /* Mobile*/
    @media (min-width: 280px) and (max-width: 359px) {
        .login-container {
            width: 270px;
            box-shadow: none;
            background-color: aliceblue;
        }

        .input-password a {
            left: 37px;
        }

        .input-login input {
            width: 95%;

        }

        .input-password input {
            width: 95%;

        }

        .input-password i {
            right: 20px;
            color: white;
        }
    }

    @media (min-width: 360px) and (max-width: 1280px) {
        .login-container {
            width: 350px;
            box-shadow: none;
            background-color: aliceblue;
        }

        .input-password i {
            right: 73px;
            color: white;
        }

        .input-password a {
            left: 80px;
        }
    }
/* Formulário de logout */

    .section-logout {
        background-color: aliceblue;
        padding-bottom: 110px;
        padding-top: 170px;
    }

    .logout-container {
        width: 450px;
        height: 35vh;
        border-radius: 30px;
        background-color: rgb(230, 236, 241);
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
    }

    .logout-container h1 {
        width: 60%;
        position: relative;
        margin: auto;
        top: 80px;
    }

    .form-container {
        display: flex;
        margin-top: 120px;
    }


    .logout-container form {
        width: 50%;
        height: 40px;
    }

    .logout-container button {
        padding: 5px;
        width: 120px;
        border-radius: 10px;
    }

    #btn-yes {
        margin-left: 50px ;
    }

    #btn-no {
        margin-right: 60px;
    }

    /* Mobile logout */
    @media (min-width:280px) and (max-width: 1024px) {
        .logout-container {
            width: 270px;
            height: 45vh;
            box-shadow: none;
            background-color: aliceblue;
        }

        .logout-container h1 {
            width: 60%;
            position: relative;
            margin: auto;
            top: 80px;
            font-size: 20px;
            font-weight: bold;
        }

        .form-container {
            display: flex;
            margin-top: 120px;
        }


        .logout-container form {
            width: 50%;
            height: 40px;
        }

        .logout-container button {
            padding: 5px;
            width: 80px;
            border-radius: 10px;
        }

        #btn-yes {
            margin-left: 20px ;
        }

        #btn-no {
            margin-right: 10px;
        }
    }





