<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Exercicio</title>
</head>

<body>

    <!--Navbar-->
    <nav>
        <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-landmark"></i></a>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="#">{{user}}</a>
            </li>
            <li>
                <a href="#">Meu cadastro</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Sair</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    Entrar
                </a>
            </li>
            <li>
                <a href="{% url 'register' %}">
                    Cadastrar
                </a>
            </li>
            <li>
                <a href="#">
                    Sobre
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% if messages %}
        {% for message in messages %}
        <div class="messages {{message.tags}}">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    {% endif %}

    <br>
    <section>
        {% block 'content' %}

        {% endblock %}
    </section>

</body>

</html>