<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Exercicio</title>
</head>

<body>

    <!--Navbar-->
    <nav>
        <i class="fa-sharp fa-solid fa-landmark"></i>
        <ul>
            <li>
                <a href="#">
                    Entrar
                </a>
            </li>
            <li>
                <a href="#">
                    Cadastrar
                </a>
            </li>
            <li>
                <a href="#">
                    Sobre
                </a>
            </li>
        </ul>
    </nav>

    <br>

    <section>
        <center>
            <h1>Em construção</h1>
        </center>
    </section>

</body>

</html>