{% extends 'base.html' %}

{% block 'content' %}
    <section class="section-logout">
        <div class="logout-container">
            <h1>Deseja sair?</h1>
            <div class="form-container">
                <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                    <button id="btn-yes" type="submit">Sim</button>
                </form>

                <form action="{% url 'home' %}" method="post">{% csrf_token %}
                    <button id="btn-no"  type="submit">Não</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}