{% extends 'base.html' %}

{% block 'title' %}Cadastre-se{% endblock %}


{% block 'content' %}
    <div class="form-register-container">
        <form action="{% url 'register_validation' %}" method="post">
            {% csrf_token %}
            <div class="form-register">
                {% for form in forms %}
                    <div class="input-container">
                        <div class="labels-register">
                            {{form.label}}
                        </div>
                        <div class="input-register">
                            {{form}}
                        </div>
                        <p>{{form.errors}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="button-register">
                <button class="btn-register" type="submit">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block 'script' %}

<!-- Mascara telefone início-->

    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },

    spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('#id_cell_phone').mask(SPMaskBehavior, spOptions);

<!-- Mascara telefone fim-->


<!-- Mascara CPF início -->

    $(document).ready(function(){
        $('#id_cpf').mask('000.000.000-00');
    });

<!-- Mascara CPF fim -->

{% endblock %}