{% extends 'base.html' %}


{% block 'content' %}
    <div class="form-register-container">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-register">
                {% for form in forms %}
                    <div class="input-container">
                        <div class="labels-register">
                            {{form.label}}
                        </div>
                        <div class="input-register">
                            {{form}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="button-register">
                <button class="btn-register" type="submit">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
{% endblock %}