{% extends 'base.html' %}

{% block 'title' %}Adicione seu endereço{% endblock %}


{% block 'content' %}
    <section class="section-address">
        <div class="form-address-container">
            <form method="post" action="{% url 'add_address' %}">{% csrf_token %}
                <div class="block-name">
                    <label>Nome completo</label>
                    <input type="text" name="sender_name" placeholder="Nome" id="id_sender_name" maxlength="100" required>
                </div>
                <div class="block-cep">
                    <label>CEP</label>
                    <input type="text" name="postal_code" placeholder="CEP" id="id_postal_code" maxlength="9" required>
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Rua/Avenida</label>
                        <input type="text" name="street_address" placeholder="Rua/Avenida" id="id_street_address" maxlength="200" required>
                    </div>
                    <div class="address-group">
                        <label>Numero</label>
                        <input type="number" name="number_address" placeholder="S/N" id="id_number_address" maxlength="20">
                    </div>
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Complemento</label>
                        <input type="text" name="additional_info" placeholder="Complemento" id="id_additional_info" maxlength="200">
                    </div>
                    <div class="address-group">
                        <label>Bairro</label>
                        <input type="text" name="neighborhood" placeholder="Bairro" id="id_neighborhood" maxlength="200">
                    </div>
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Cidade</label>
                        <input type="text" name="city" placeholder="Cidade" id="id_city" readonly maxlength="100">
                    </div>
                    <div class="address-group">
                        <label>Estado</label>
                        <input type="text" name="state" placeholder="UF" id="id_state" readonly maxlength="100">
                    </div>
                </div>
                <div class="block-address">
                    <div class="combobox-select">
                        <label>Este é o seu trabalho ou sua casa?</label>
                        <select name="type_address" id="id_type_address" required>
                            <option value="">Casa</option>
                            <option value="">Trabalho</option>
                            <option value="">Outro</option>
                        </select>
                    </div>
                </div>
                <div class="block-address">
                    <div class="checkbox-address">
                        <label>Marcar como endereço principal?</label>
                        <input type="checkbox" name="active" id="id_active">
                    </div>
                </div>
                <div class="btn-add-address">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
