{% extends 'base.html' %}


{% block 'content' %}
    <center>
        <br><br><br><br><br><br><br><br><br>

        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label>{{form.old_password.label}}: </label>
                {{form.old_password}}
                {{form.old_password.errors}}
            </div>

            <div class="form-group">
                <label>{{form.new_password1.label}}: </label>
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>

            <div class="form-group">
                <label>{{form.new_password2.label}}: </label>
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>
            {{form.new_password1.help_text}}

            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-primary">
            </div>
        </form>
    </center>
{% endblock %}