{% extends 'base.html' %}

{% block 'title' %}Edite seu endereço{% endblock %}


{% block 'content' %}
    <section class="section-address">
        <div class="form-address-container">
            <form method="post" action="{% url 'edit_address' address.pk %}">{% csrf_token %}
                <div class="block-name">
                    <label>Nome completo</label>
                    {{ form.sender_name }}
                </div>
                <div class="block-cep">
                    <label>CEP</label>
                    {{ form.postal_code }}
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Rua/Avenida</label>
                         {{ form.street_address }}
                    </div>
                    <div class="address-group">
                        <label>Numero</label>
                        {{ form.number_address }}
                    </div>
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Complemento</label>
                        {{ form.additional_info }}
                    </div>
                    <div class="address-group">
                        <label>Bairro</label>
                        {{ form.neighborhood }}
                    </div>
                </div>
                <div class="block-address">
                    <div class="address-group">
                        <label>Cidade</label>
                        {{form.city}}
                    </div>
                    <div class="address-group">
                        <label>Estado</label>
                        {{form.state}}
                    </div>
                </div>
                <div class="block-address">
                    <div class="combobox-select">
                        <label>Este é o seu trabalho ou sua casa?</label>
                        <select name="type_address" id="id_type_address" required>
                            <option value=""></option>
                            <option value="casa">Casa</option>
                            <option value="trabalho">Trabalho</option>
                        </select>
                    </div>
                </div>
                <div class="block-address">
                    <div class="checkbox-address">
                        <label>Marcar como endereço principal?</label>
                        {{ form.active }}
                    </div>
                </div>
                <div class="btn-add-address">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
