{% extends 'base.html' %}

{% block 'content' %}
    <center>
        <br><br><br><br><br><br><br>
        <form action="{% url 'edit_profile' data_profile.pk %}" method="post">{% csrf_token %}
            <label>Nome</label>
            <input type="text" name="first_name" id="id_first_name" placeholder="Nome" value={{data_profile.user_profile.first_name}}>
            <label>Sobrenome</label>
            <input type="text" name="last_name" id="id_last_name" placeholder="Sobrenome" value={{data_profile.user_profile.last_name}}>
            <label>E-mail</label>
            <input type="text" name="email" id="id_email" placeholder="E-mail" value={{data_profile.user_profile.email}}>
            <label>Telefone</label>
            {{form.cell_phone}}
            <label>CPF</label>
            <input type="text" name="cpf" id="id_cpf" placeholder="cpf" value={{data_profile.cpf}} readonly>
            <button type="submit">Atualizar</button>
        </form>
    </center>
{% endblock %}

{% block 'script' %}

    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },

    spOptions = {
        onKeyPress: function(val, e, field, options) {
            field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };

    $('#id_cell_phone').mask(SPMaskBehavior, spOptions);


{% endblock %}