{% extends 'base.html' %}

{% block 'title' %}Endereços{% endblock %}

{% block 'content' %}
    <div class="address-container">
        <div class="my-address">
            {% if address %}
                <table border="1" class="table-container">
                    <thead class="header-address">
                        <tr>
                            <th>Nome (Destinatário)</th>
                            <th class="cep-table">CEP</th>
                            <th>Rua/Avenida</th>
                            <th class="number-table">Número</th>
                            <th>Complemento</th>
                            <th>Cidade</th>
                            <th class="state-table">UF</th>
                            <th class="type-table">Endereço</th>
                            <th class="manage-table">Gerenciar</th>
                        </tr>
                    </thead>
                    {% for ad in address %}
                    <tbody>
                        <tr>
                            <td>{{ ad.sender_name }}</td>
                            <td class="cep-table">{{ ad.postal_code }}</td>
                            <td>{{ ad.street_address }}</td>
                            <td class="number-table">{{ ad.number_address }}</td>
                            <td>{{ ad.additional_info }}</td>
                            <td>{{ ad.city }}</td>
                            <td class="state-table">{{ ad.state }}</td>
                            <td class="type-table">{{ ad.type_address }}</td>
                            <td class="manage-table">
                                <div class="manage-address-container">
                                    <div class="btn-edit">
                                        <form method="post" action="">
                                            <button id="btn-edit">
                                                <i title="Editar endereço" class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="btn-delete">
                                        <form method="post" action="">
                                            <button id="btn-delete">
                                                <i title="Deletar endereço" class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="btn-address-container">
                    <a href="{% url 'add-address' %}" class="btn-add-address">Add Endereço</a>
                </div>
            {% else %}
                <div class="empty-list-address">
                    <h1>Você não tem endereços cadastrados!</h1>
                    <div class="btn-add-address-container">
                        <a href="{% url 'add-address' %}" class="btn-add-address">Add Endereço</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}