{% extends 'base.html' %}

{% block 'title' %}Endereços{% endblock %}

{% block 'content' %}
    {% if not active_address and not other_address %}
    <section>
        <div class="no-address">
            <h1>Você não tem endereços cadastrados!</h1>
            <div class="btn-add">
                <a href="{% url 'add_address' %}">Add endereço</a>
            </div>
        </div>
    </section>
    {% endif %}

    {% if active_address or other_address %}
    <section class="section-address">
        <div class="address-container">
            {% if active_address %}
            <div class="principal-address">
                <h1>Endereço principal</h1>
            </div>
            {% for ad in active_address %}
            <div>
                <div>
                    <label>Nome:</label>
                    <input type="text" value="{{ ad.sender_name }}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Rua/Avenida:</label>
                    <input type="text" value="{{ad.street_address}}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Número:</label>
                    <input type="text" placeholder="Número:" value="{{ad.number_address}}" readonly>
                </div>
                <div>
                    <label>Complemento:</label>
                    <input type="text" placeholder="N/A" value="{{ad.additional_info}}" readonly>
                </div>
                <div>
                    <label>Bairro:</label>
                    <input type="text" placeholder="Bairro:" value="{{ad.neighborhood}}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Cidade:</label>
                    <input type="text" placeholder="Cidade:" value="{{ad.city}}" readonly>
                </div>
                <div>
                    <label>Estado:</label>
                    <input type="text" placeholder="UF:" value="{{ad.state}}" readonly>
                </div>
                <div>
                    <label>CEP:</label>
                    <input type="text"  value="{{ad.postal_code}}" readonly>
                </div>
            </div>
            <div class="manage-container">
                <div class="btn-edit">
                    <a href="{% url 'edit_address' ad.pk %}"><i title="Editar dados" class="fa-regular fa-pen-to-square"></i></a>
                </div>
                <form class="delete-address" method="post" action="{% url 'delete_address' ad.pk %}">{% csrf_token %}
                    <button type="submit">
                        <i title="Deletar endereço" class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            {% if other_address %}
            <div class="other-addresses">
                <h1>Outros endereços</h1>
            </div>
            {% for ad in other_address %}
            <div>
                <div>
                    <label>Nome:</label>
                    <input type="text" value="{{ad.sender_name}}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Rua/Avenida:</label>
                    <input type="text" placeholder="Rua/Avenida:" value="{{ad.street_address}}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Número:</label>
                    <input type="text" placeholder="Número:" value="{{ad.number_address}}" readonly>
                </div>
                <div>
                    <label>Complemento:</label>
                    <input type="text" placeholder="N/A" value="{{ad.additional_info}}" readonly>
                </div>
                <div>
                    <label>Bairro:</label>
                    <input type="text" placeholder="Bairro:" value="{{ad.neighborhood}}" readonly>
                </div>
            </div>
            <div>
                <div>
                    <label>Cidade:</label>
                    <input type="text" placeholder="Cidade:" value="{{ad.city}}" readonly>
                </div>
                <div>
                    <label>Estado:</label>
                    <input type="text" placeholder="UF:" value="{{ad.state}}" readonly>
                </div>
                <div>
                    <label>CEP:</label>
                    <input type="text"  value="{{ad.postal_code}}" readonly>
                </div>
            </div>
            <div class="manage-container">
                <div class="btn-edit">
                    <a href="{% url 'edit_address' ad.pk %}"><i title="Editar dados" class="fa-regular fa-pen-to-square"></i></a>
                </div>
                <form class="delete-address" method="post" action="{% url 'delete_address' ad.pk %}">{% csrf_token %}
                    <button type="submit">
                        <i title="Deletar endereço" class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            <div class="add-more-container">
                <a href="{% url 'add_address' %}"><i title="Add enredeço" class="fa-sharp fa-solid fa-plus"></i></a>
            </div>
        {% endif %}
        </div>


    </section>
{% endblock %}
