{% extends 'base.html' %}

{% block 'title' %}Endereços{% endblock %}

{% block 'content' %}
<!--conteudo das abas -->
    <section class="section-user-info">
        <div class="info-container">
            <div class="title">
                <h1>Dados cadastrais</h1>
            </div>

            <!--Abas-->
            <div class="tabs">
                <button class="tab-button" id="tabStandard"  onclick="openTab(event, 'info')">Informações de usuário</button>
                <button class="tab-button" id="tabSecondary" onclick="openTab(event, 'address')" >Endereço principal</button>
            </div>

            <!--conteudo das abas -->
            <div id="info" class="content">
                <div class="info-group">
                    <div>
                        <label>Nome completo</label>
                        <input type="text" value="{{user_info.user_profile.first_name}} {{user_info.user_profile.last_name}}" readonly>
                    </div>
                    <div>
                        <label>E-mail</label>
                        <input type="email" value="{{user_info.user_profile.email}}" readonly>
                    </div>
                </div>
                <div class="info-group">
                    <div>
                        <label>Telefone</label>
                        <input type="text" value="{{ user_info.cell_phone }}" readonly>
                    </div>
                    <div>
                        <label>CPF</label>
                        <input type="text" placeholder="CPF" value="{{ user_info.cpf }}" readonly>
                    </div>
                </div>
                <div class="edit-container">
                    <a href="{% url 'edit_profile' user_info.pk %}"><i title="Editar dados" class="fa-regular fa-pen-to-square"></i></a>
                </div>
            </div>

            <div id="address" class="content">
                {% if address %}
                <div id="street" class="info-group">
                    <div>
                        <label>Rua/Avenida</label>
                        <input type="text" value="" readonly>
                    </div>
                </div>
                <div class="info-group">
                    <div>
                        <label>Número</label>
                        <input type="text" placeholder="Número" value="19" readonly>
                    </div>
                    <div>
                        <label>Complemento</label>
                        <input type="text" placeholder="Complemento" value="A" readonly>
                    </div>
                    <div>
                        <label>Bairro</label>
                        <input type="text" placeholder="Bairro" value="JD Irene/Guaianases" readonly>
                    </div>
                </div>
                <div class="info-group">
                    <div>
                        <label>Cidade</label>
                        <input type="text" placeholder="Cidade" value="São Paulo" readonly>
                    </div>
                    <div>
                        <label>Estado</label>
                        <input type="text" placeholder="UF" value="SP" readonly>
                    </div>
                    <div>
                        <label>CEP</label>
                        <input type="text" placeholder="CEP" value="08290-680" readonly>
                    </div>
                </div>
                <div class="edit-container">
                    <a href="#"><i title="Editar dados" class="fa-regular fa-pen-to-square"></i></a>
                </div>
                {% else %}
                <div class="info-address">
                    <h1>Você ainda não tem um endereço principal cadastrado!</h1>
                    <div>
                        <a href="{% url 'address' %}">Add endereço</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block 'script' %}


{% endblock %}