{% extends 'base.html' %}

{% block 'title' %}Meu cadastro{% endblock %}


{% block 'content' %}

<!-- Menu -->
    <section class="section-profile">
        <div class="profile-container">
            <div class="username-container">
                <i class="fa-solid fa-user"></i>
                <h1>{{ user }}</h1>
            </div>

            <div class="my-info-container">
                <a href="{% url 'info' %}">
                    <i class="fa-sharp fa-solid fa-address-card"></i>
                    <h1>Meus dados</h1>
                </a>
            </div>

            <div class="my-address-container">
                <a href="{% url 'address' %}">
                    <i class="fa-solid fa-location-dot"></i>
                    <h1>Endereços</h1>
                </a>
            </div>

        </div>
    </section>

<!--Menu final-->

{% endblock %}

