/* my_profile.html */

    .section-profile {
        background-color: aliceblue;
        padding-bottom: 110px;
        padding-top: 170px;
    }

    .profile-container {
        width: 50%;
        max-height: 71vh;
        border-radius: 30px;
        background-color: rgb(230, 236, 241);
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0 auto;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
    }

    .username-container {
        display: flex;
        justify-content: center;
        background-color:rgb(104, 104, 252, 0.9);
        box-shadow: 0px 0px 5px 0px rgb(110, 93, 93);

        color: aliceblue;
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        margin: auto;
        padding: 30px 0px 20px 0px;
    }

    .username-container i {
        font-size: 40px;
        padding-right: 15px;
    }

    .my-info-container:hover, .my-address-container:hover {
        border: groove;
        transition:0.5s;
        background-color: rgb(92, 248, 92);
    }

    .my-address-container {
        border-radius: 0px 0px 30px 30px;
    }

    .my-info-container a, .my-address-container a {
        display: flex;
        justify-content: center;
        padding: 30px 0px 20px 0px;
        text-decoration: none;
        color: black;
    }

    .my-info-container i {
        font-size: 40px;
        padding-right: 15px;
        color: black;
    }

    .my-address-container i {
        font-size: 40px;
        color: black;
        margin-right: 35px;
    }

    .my-address-container h1 {
        color: black;
    }

    .button-menu-container img {
        display: none;
    }

    #itens {
        display: none;
    }

    .info-address {
        text-align: center;
        padding:40px;
    }

    .info-address div {
        margin-top:20px;
        padding:30px;
    }

    .info-address div a {
        background: rgb(230, 236, 241);
        border-radius: 10px;
        padding:15px;
        color: black;
        text-decoration: none;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        }



    /* Mobile */
    @media (min-width:280px) and (max-width:819px) {
        /* Navbar*/
        .content-navbar li {
            display: none;
        }

        #menu-mobile {
            display: block;
            position: relative;
            bottom: 10px;
            cursor: pointer;
        }


        /* Menu profile*/
        .profile-container {
            width: 100%;
            height: 33vh;
            background-color: aliceblue;
            border-radius: 1px;
            box-shadow: none;
        }

        .username-container i, .my-info-container i, .my-address-container i, .username-container {
            display: none;
        }

        .my-address-container {
            border-radius: 1px;
        }

        .my-info-container a, .my-address-container a {
            border: solid 1px rgb(165, 194, 219);
        }
    }

    @media (min-width: 820px) and (max-width: 1102px){
        /* Menu profile*/
        .profile-container {
            width: 100%;
            height: 33vh;
            background-color: aliceblue;
            border-radius: 1px;
            box-shadow: none;
        }

        .username-container i, .my-info-container i, .my-address-container i, .username-container {
            display: none;
        }

        .my-address-container {
            border-radius: 1px;
        }

        .my-info-container a, .my-address-container a {
            border: solid 1px rgb(165, 194, 219);
        }

    }

    @media (min-width: 820px) and (max-width: 1980px) {
        #itens {
            display: none;
        }
    }

    /* Menu mobile */
    @media (min-width: 280px) and (max-width:819px) {
        #itens {
            background-color: rgb(113, 113, 114);
            position:fixed;
            top: 0;
            right: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            transition: all 300ms ease-in-out;
            transform: translateX(106rem)  ;
            display: block;
            overflow-y: auto;
        }


        #itens li {
            margin-top: 80px;
            list-style: none;
            text-align: center;
            font-size: 40px;
            cursor: pointer;
        }

        #itens i {
            color: red;
            padding: 10px;
            font-size: 30px;
            margin-bottom: 10px;
            background-color: aliceblue;
            border-radius: 40px;
            padding: 15px;
        }

        #itens a {
            text-decoration: none;
            color: aliceblue;
        }
    }

/* Section profile */

    .section-user-info {
        padding: 160px 0px 160px 0px;
    }


    .info-container {
        width: 80%;
        background-color: rgb(230, 236, 241);
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
    }

    .info-container input {
        display: block;
        border: none;
        background-color:rgb(230, 236, 241);
        border-bottom: solid 2px;
        width: 90%;
        font-size: 20px;
    }

    .info-container input:focus {
        outline: 0;
    }

    .info-container label {
        font-size: 20px;
        font-weight: bold;
    }

    .title {
        background-color: rgb(104, 104, 252);
        width: 100%;
        text-align: center;
        padding: 20px;
        border-radius: 30px 30px 0px 0px;
        color: aliceblue;
    }

    .info-group {
        display: flex;
        margin-top: 20px;
    }

    .info-group div {
        width: 50%;
        padding: 20px;
        margin-left: 50px;
    }

    .edit-container {
        margin-top: 40px;
        text-align: center;
        padding-bottom: 50px;
    }

    .edit-container i {
        font-size: 50px;
    }

    /* Abas */
    .tabs {
        display: flex;
    }

    #tabStandard {
        border-radius: 0px 0px 20px 0px;
    }

    #tabSecondary {
        border-radius: 0px 0px 0px 20px;
    }

    .tab-button {
        width: 50%;
        background-color: rgb(104, 104, 252);
        color: aliceblue;
        border: none;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .tab-button:focus-within {
        outline: none;
    }


    .tabs button.active {
        background-color: rgb(230, 236, 241);
        color: black;
        border: none;
    }

    .content {
        display: none;
    }

    #street input {
        width: 122%;
    }


    /*Mobile*/


    @media (min-width: 280px) and (max-width:570px) {
        .info-container {
            width: 100%;
            border-radius: 0;
            box-shadow: none;
        }

        .title {
            border-radius: 0px;
        }

        .info-group {
            display: block;
        }

        .info-container input {
            border: none;
            width: 220%;
            border-bottom: solid 1px;
        }

        .tab-button {
            font-size: 20px;
            padding: 25px;
        }

        .info-group div {
            margin-left: 10px;
        }


        #street input {
            width: 220%;
        }

        body {
            background-color: rgb(230, 236, 241);
        }
    }

    @media (min-width: 571px) and (max-width:1080px) {
        body {
            background-color: rgb(230, 236, 241);
        }

        .info-container {
            width: 100%;
            border-radius: 0;
            box-shadow: none;
        }

        .title {
            border-radius: 0px;
        }

        .info-group {
            display: block;
        }

        .info-container input {
            border: none;
            width: 200%;
            border-bottom: solid 1px;
        }

        .tab-button {
            font-size: 20px;
            padding: 25px;
        }

        .info-group div {
            margin-left: 10px;
        }

        #street input {
            width: 200%;
        }
    }


/* My address */
    .section-address {
        padding-top: 150px;
        padding-bottom: 165px;
    }

    .principal-address {
        text-align: center;
        padding-bottom: 20px;
    }

    .address-container {
        background-color: rgb(230, 236, 241);
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        border-radius: 20px;
        margin: 0 auto;
        width: 50%;
        padding: 40px;
    }

    .address-container input {
        border: none;
        background-color: rgb(230, 236, 241);
        width: 80%;
    }

    .address-container input:focus-within {
        outline: none;
    }


    .address-container label {
        font-weight: bold;
    }


    .manage-container {
        text-align: center;
        display: flex;
    }



    .manage-container form {
        width: 50%;
        text-align: left;
    }

    .manage-container form i {
        font-size: 30px;
        color:  rgb(71, 63, 63);
    }

    .manage-container form button {
        border: none;
    }

    .manage-container form button:focus-within {
        outline: none;
    }

    .btn-edit {
        width: 50%;
        text-align: right;
    }

    .btn-edit i {
        font-size: 30px;
        margin-right: 10px;
        color:  rgb(71, 63, 63);
    }

    .other-addresses {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .no-address {
        background-color: rgb(230, 236, 241);
        text-align:center;
        width:50%;
        margin:0 auto;
        margin-top:120px;
        padding: 30px;
        padding-top:55px;
        border-radius: 20px;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93)
    }


    .btn-add {
        padding:30px;
    }

    .btn-add a {
        padding: 10px 15px 10px 15px;
        border-radius:10px;
        color: black;
        text-decoration: none;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93)

    }
    /*Mobile*/

    @media (min-width:280px) and (max-width:1023px) {
        .address-container {
            background-color: rgb(230, 236, 241);
            box-shadow: none;
            border-radius: 1px;
            width: 100%;
        }


        .section-address {
            background-color: rgb(230, 236, 241);
        }

        .manage-container {
            padding-top: 25px;
        }

        .no-address {
            background-color: rgb(230, 236, 241);
            width:100%;
            box-shadow: none;
        }

        .btn-add {
            padding-top:50px;
        }

        .btn-add button {
            padding: 10px 15px 10px 15px;
            border-radius:10px;
        }
    }

    /* Add address */

    .form-address-container {
        background-color: rgb(230, 236, 241);
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        margin: 0 auto;
        width: 60%;
        padding: 30px;
        border-radius: 30px;
    }

    .form-address-container form {
        margin-left: 40px;
        margin-top:30px;
    }


    .form-address-container form input {
        display: block;
        height: 33px;
        border-radius: 10px;
        padding-left: 20px;
    }

    .btn-add-address {
        text-align: center;
        padding: 30px;
    }


    .block-name input {
        width: 50%;
    }

    .block-cep, .block-address {
        padding-top: 15px;
    }

    .block-address, .checkbox-address {
        display: flex;
    }

    .checkbox-address input {
        margin-left: 10px;
        width: 20px;
    }

    .checkbox-address label {
        margin-top: 4px;
    }

    .btn-add-address button {
        width: 100px;
        padding: 5px;
        border-radius: 10px;
    }

    .address-group {
        width: 50%;
        padding-right: 25px;
    }


    .number-address input {
        width: 20%;
    }

    #id_street_address, #id_additional_info, #id_city {
        width: 98%;
    }

    #id_number_address {
        width:40%;
    }

    #id_neighborhood, #id_state {
        width: 80%;
    }

    #id_city, #id_state {
        background-color: rgb(218, 217, 217);
        cursor: not-allowed;
    }

    .combobox-select {
        padding: 10px 0px 10px 0px;
    }

    .add-more-container {
        text-align:center;
        padding:30px;
    }

    .add-more-container i {
        font-size: 60px;
    }

    /* Mobile */
    @media (min-width:280px) and (max-width: 820px) {
        .section-address {
            background-color: rgb(230, 236, 241);
        }

        .form-address-container {
            box-shadow: none;
            margin: 0;
            padding: 0px;
            width: 100%;
            padding-left: 15px;
        }

        .form-address-container form {
            margin-left: 0px;

        }

        .form-address-container input {
            width: 92%;
        }

        .address-group {
            width: 100%;
            padding-top: 20px;
        }

        #id_neighborhood, #id_state {
            width: 98%;
        }

        .block-address, .checkbox-address {
            display: block;
        }

        .checkbox-address {
            display: flex;
        }


        .checkbox-address label {
            width: 700px;
        }
    }


    @media (min-width:821px) and (max-width: 1030px) {
        .section-address {
            background-color: white;
        }

        .form-address-container {
            width: 90%;
        }
    }


    /* Edit info profile */

    .container-edit-profile form {
        background:rgb(230, 236, 241);
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 50px;
        box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
        border-radius: 20px;
    }

    .form-group-profile {
        padding:10px;
    }


    .form-group-profile label {
        padding-right: 10px;
    }

    .form-group-profile input {
        width: 65%;
        height: 30px;
        border-radius: 10px;
        padding-left: 20px;
    }

    .btn-alter-container-profile {
        padding:15px;
        text-align: center;
    }

    .btn-alter-container-profile button {
        width:110px;
        padding:8px;
        border-radius:10px;
    }

    #id_cpf {
        cursor: not-allowed;
        background-color: rgb(218, 217, 217);
    }

    @media (max-width: 950px) {
        .container-edit-profile form {
            background:rgb(230, 236, 241);
            width: 100%;
            padding: 0px;
            box-shadow: none;
        }

        .form-group-profile input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            padding-left: 20px;
        }

    }

/* Password change */

.password-change-container form {
    padding:30px;
    width:50%;
    margin: 0 auto;
    margin-top: 100px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0px rgb(110, 93, 93);
    background-color: rgb(230, 236, 241);
}


.form-group {
    display:block;
}


.message-error-password {
    color: red;
}


.form-group input {
    padding-left: 20px;
    margin-left: 20px;
    width:60%;
    height:35px;
    border-radius:10px;

}


.btn-alterar-container {
    text-align: center;
    padding:10px;

}

#btn-alterar {
    width:100px;
    border-radius:10px;
}

@media (max-width: 950px) {
    .password-change-container form {
        padding:0px;
        width:100%;
        border: none;
        box-shadow: none;
        margin-bottom: 80px;
    }


    .messages-help-text {
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        font-weight: bold;
    }


    .form-group input {
        margin-left: 0px;
        width:100%;
    }

    .btn-alterar-container {
        margin-top: 40px;
    }

    #btn-alterar {
        width:200px;
        height:40px;
    }
}

@media (min-height: 600px) and (max-height:800px) {
    .password-change-container form {
        margin-bottom: 90px;
    }

}