/* Reset */
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }


/* Home page */

a {
    color: #fff;
}



.admin-container {
    margin-top: 220px;
    width: 100%;
    height: 100%;
}

.admin-link {
    background-color: #4d004d;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
}